@import "setup";


$headingFont: 'Josefin Sans', sans-serif;
$baseFont: 'Roboto', sans-serif;

$primary: #2C2C2C;
$highlight: #F8E71C;
$offWhite: #F0EFED;
$darkGreen: #074115;
$buttonColor: #0E902D;


// **************************************************** //
// HEADER & NAVIGATION STYLES
// **************************************************** //

.homeHeader {
    background-image: url(../assets/home-image-1.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    
    .wrapper {
        height: 100%;
    }
}
        
        
        .topBar {
            display: flex;
            align-content: flex-end;
            padding-top: 30px;
            
            p {
                font-family: $headingFont;
                font-size: 3.5rem;
                color: #FFF;
            }
            
            ul {
                display: flex;
                
                a {
                    font-family: $headingFont;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    padding-left: 44px;
                }

                a:hover,
                a:focus {
                    color: $highlight;
                }

                i {
                    display: none;
                }
            }
        }
        
        
        .homeHeading {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            
            h1 {
                font-family: $headingFont;
                font-weight: normal;
                font-size: 13rem;
                color: #FFF;
                text-align: center;
                line-height: 0.8;
                z-index: 10;
            }
            
            span {
                color: $highlight;
            }
            
            img {
                width: 45%;
                position: absolute;
                right: 0;
                bottom: -70px;
            }
        }
        
// **************************************************** //
// INTRO STYLES
// **************************************************** //

    
    .intro {
        background: $offWhite;
        text-align: center;
        padding: 190px 0;
        p {
            padding: 25px 0 32px 0;
            width: 90%;
            margin: 0 auto;
        }
    }
    
    .readMore {
        background: $buttonColor;
        font-family: $headingFont;
        font-weight: bold;
        font-size: 1.6rem;
        letter-spacing: 1px;
        padding: 14px 25px 10px 25px;
    }

    .readMore:hover,
    .readMore:focus {
        font-size: 1.8rem;
        background: $darkGreen;
    }
    
    // what is planted
    h2 {
        font-family: $headingFont;
        font-weight: bold;
        font-size: 4.6rem;
        letter-spacing: 1.3px;
    }
    
    // **************************************************** //
    // POST STYLES
    // **************************************************** //
    
    .blogPosts {
        display: grid;
        grid-template-columns: 2fr 0.8fr 2fr;
        grid-template-rows: 625px;
    }

    // upcoming, unique
    h3 {
        font-family: $headingFont;
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 1px;
    }
    
    .postLeft {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
        position: relative;
        
        img {
            box-shadow: 15px 15px $highlight;
            position: absolute;
            left: 0;
            top: -35px;
        }
        
        article {
            padding-left: 100px;
            padding-bottom: 50px;
            p {
                padding: 20px 0 30px 0;
            }
        }
        
    }
    
    
    .postRight {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: relative;
        
        img {
            box-shadow: -15px 15px $highlight;
            position: absolute;
            width: 100%;
            right: 0;
            bottom: -35px;
        }
        
        article {
            padding-top: 80px;
            padding-right: 100px;
            p {
                padding: 20px 0 30px 0;
            }
        }
    }
    
    
    // **************************************************** //
    // MIDDLE MENU STYLES
    // **************************************************** //
    
    
    .midMenu {
        background: $offWhite;
    }
    
    .midFlex {
        display: flex;
        padding: 100px 0 60px 0;
    }
    
    .midLeft,
    .midRight {
        display: flex;
        flex-direction: column;
        
    }
    
    .midMenuElement {
        p {
            padding: 20px 0 20px 60px;
        }
        
        i {
            background: $highlight;
            padding: 10px;
            border-radius: 50%;
            font-size: 2rem;
        }
        
        h3 {
            display: inline-block;
            padding-left: 15px;
        }
        
    }
    
    // **************************************************** //
    // ABOUT FOUNDER STYLES
    // **************************************************** //
    
    
    .founder {
        background: $offWhite;
    }
    
    .founderFlex {
        display: flex;
        padding: 100px 0 80px 0;
        img {
            box-shadow: 15px 15px $highlight;
            object-fit: cover;
        }
        article{
            padding-left: 100px;
        }
        p {
            padding: 20px 0 40px 0;
        }
    }
    
    // planted's founder // p1
    h4 {
        font-family: $headingFont;
        font-weight: bold;
        font-size: 3.6rem;
        letter-spacing: 1px;
    }
    
    // **************************************************** //
    // GALLERY STYLES
    // **************************************************** //
    
    
    .galleryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        padding: 100px 0;
    }
    

// **************************************************** //
// FOOTER STYLES
// **************************************************** //

footer {
    background: $primary;
    text-align: center;
    color: #fff;
    padding: 5px 0;

    a:hover,
    a:focus {
        font-weight: bold;
    }
}


// **************************************************** //
// MEDIA QUERY STYLES
// **************************************************** //

// SMALL DESKTOPS //
@media (max-width: 1120px) {
    .wrapper {
        width: 85%;
    }

    h3 {
        font-size: 2.4rem;
    }

}

// PORTRAIT AND SMALLER DESKTOPS
@media (max-width: 940px) {
    .wrapper {
        width: 85%;
    }

    .founderFlex {
        flex-direction: column;
        align-items: center;
        img {
            width: 30%;
        }
        article {
            padding-left: 0;
            padding-top: 60px;
            text-align: center;
        }
    }

}

// Landscape phone to portrait tablet //
@media (max-width: 768px) {
    .wrapper {
        width: 85%;
    }

    .homeHeader {
        height: 57vh;
    }

    .homeHeading {
        h1 {
        font-size: 11rem;
        }

        img {
            bottom: -50px;
        }
    }

.blogPosts {
    grid-template-columns: repeat(1, 1fr);
    img {
        width: 60%;
    }
    article {
        padding: 0;
        width: 80%;
    }
    
    .postLeft {
        height: 515px;
        align-items: flex-end;
        text-align: right;
        padding-right: 100px;
    }

    .postRight {
        height: 515px;
        align-items: flex-start;
        text-align: left;
        padding-left: 100px;
    }

}

.midFlex {
    display: block;
}

.midMenuElement {
    padding-bottom: 20px;
}

.galleryGrid {
    grid-template-columns: repeat(1, 1fr);
    img {
        width: 60%;
        margin: 0 auto;
    }
}

}

// Landscape phone to portrait tablet //
@media (max-width: 650px) {
    .wrapper {
        width: 85%;
    }

    .homeHeader {
        height: 50vh;
    }

    .topBar {
        flex-direction: column;
        .logo {
            margin: 0 auto;
            padding-bottom: 25px;
        }
        ul {
            margin: 0 auto;
            
            a {
                display:none;
            }
            
            i {
                font-size: 2.2rem;
                display: block;
                color: #FFF;
            }
        }
    }

    .homeHeading {
        height: 70%;
        h1 {
            font-size: 9rem;
        }

        img {
            width: 55%;
        }
    }

}

// Landscape phones and down
@media (max-width: 480px) {
    .wrapper {
        width: 85%;
    }

    .homeHeading {
        h1 {
            font-size: 7.5rem;
        }

    }

    h2 {
        font-size: 4rem;
    }

    .blogPosts {
        grid-template-rows: 545px;
        img {
            width: 70%
        }
        .postLeft {
            height: 465px;
            padding-right: 50px;
        }
        .postRight {
            height: 465px;
            padding-left: 50px;
        }
    }

    .founderFlex {
        img {
            width: 50%;
        }
    }

    .galleryGrid {
        img {
            width: 80%;
        }
    }

}

// **************************************************** //
// SCSS IMPORTS
// **************************************************** //
@import "blogStyle";
@import "contactStyle"