a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
ul, ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.homeHeader {
  background-image: url(../assets/home-image-1.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.homeHeader .wrapper {
  height: 100%;
}

.topBar,
.topBarSecondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-top: 30px;
}

.topBar p,
.topBarSecondary p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  color: #FFF;
}

.topBar ul,
.topBarSecondary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topBar ul a,
.topBarSecondary ul a {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-left: 44px;
}

.topBar ul a:hover,
.topBar ul a:focus,
.topBarSecondary ul a:hover,
.topBarSecondary ul a:focus {
  color: #F8E71C;
}

.topBar ul i,
.topBarSecondary ul i {
  display: none;
}

.homeHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.homeHeading h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 13rem;
  color: #FFF;
  text-align: center;
  line-height: 0.8;
  z-index: 10;
}

.homeHeading span {
  color: #F8E71C;
}

.homeHeading img {
  width: 45%;
  position: absolute;
  right: 0;
  bottom: -70px;
}

.intro {
  background: #F0EFED;
  text-align: center;
  padding: 190px 0;
}

.intro p {
  padding: 25px 0 32px 0;
  width: 90%;
  margin: 0 auto;
}

.readMore {
  background: #0E902D;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 14px 25px 10px 25px;
}

.readMore:hover,
.readMore:focus {
  font-size: 1.8rem;
  background: #074115;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 4.6rem;
  letter-spacing: 1.3px;
}

.blogPosts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.8fr 2fr;
      grid-template-columns: 2fr 0.8fr 2fr;
  -ms-grid-rows: 625px;
      grid-template-rows: 625px;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.postLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  position: relative;
}

.postLeft img {
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
  position: absolute;
  left: 0;
  top: -35px;
}

.postLeft article {
  padding-left: 100px;
  padding-bottom: 50px;
}

.postLeft article p {
  padding: 20px 0 30px 0;
}

.postRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.postRight img {
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -35px;
}

.postRight article {
  padding-top: 80px;
  padding-right: 100px;
}

.postRight article p {
  padding: 20px 0 30px 0;
}

.midMenu {
  background: #F0EFED;
}

.midFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 60px 0;
}

.midLeft,
.midRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.midMenuElement p {
  padding: 20px 0 20px 60px;
}

.midMenuElement i {
  background: #F8E71C;
  padding: 10px;
  border-radius: 50%;
  font-size: 2rem;
}

.midMenuElement h3 {
  display: inline-block;
  padding-left: 15px;
}

.founder {
  background: #F0EFED;
}

.founderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 80px 0;
}

.founderFlex img {
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
  -o-object-fit: cover;
     object-fit: cover;
}

.founderFlex article {
  padding-left: 100px;
}

.founderFlex p {
  padding: 20px 0 40px 0;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  letter-spacing: 1px;
}

.galleryGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 100px 0;
}

footer {
  background: #2C2C2C;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}

footer a:hover,
footer a:focus {
  font-weight: bold;
}

.blogHeader,
.contactHeader {
  background-image: url(../assets/blog-header-1.jpg);
  height: 465px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topBarSecondary {
  background: #000;
}

.flexBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: #F8E71C;
  padding-top: 250px;
}

.blogMain {
  background: #F0EFED;
  position: relative;
  padding-bottom: 80px;
}

.mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexLeft {
  width: 35%;
  padding-top: 100px;
}

.flexLeft img {
  position: absolute;
  width: 35%;
  left: 0;
}

.heading7 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1.2px;
}

.textBox {
  background: #FFF;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
  padding: 0 25px 25px 25px;
}

.textBox em {
  font-weight: bold;
  font-style: italic;
}

.textBox .heading7 {
  padding-top: 50px;
}

.flexRight {
  width: 60%;
}

.flexRight h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3.8rem;
  letter-spacing: 1.3px;
  padding-bottom: 10px;
}

.postImg {
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  position: absolute;
  width: 56.5%;
  top: -200px;
  right: 0px;
}

.blogPost {
  border-left: 4px solid #F8E71C;
  border-bottom: 4px solid #F8E71C;
  padding: 340px 0 40px 40px;
}

.blogPost .date {
  padding-bottom: 40px;
}

.blogPost span {
  font-style: italic;
}

.blogPost em {
  font-style: italic;
  font-weight: bold;
}

.blogPost p {
  padding-bottom: 15px;
}

.comments {
  padding-top: 40px;
}

.commentsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.comment1 img,
.comment2 img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment1 p,
.comment2 p {
  padding-left: 25px;
}

.myForm {
  padding-top: 60px;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  border-style: none;
  width: calc(100% / 2 - 10px);
  height: 6rem;
  background-color: #F0EFED;
  border-bottom: 2px solid #0E902D;
  padding-left: 25px;
  margin-bottom: 25px;
}

textarea {
  resize: none;
  border-style: none;
  width: 100%;
  height: 180px;
  background-color: #F0EFED;
  border: 2px solid #0E902D;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
}

::-webkit-input-placeholder {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 20px;
}

:-ms-input-placeholder {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 20px;
}

::-ms-input-placeholder {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 20px;
}

::placeholder {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 20px;
}

button {
  border: none;
  width: 100%;
  background: #0E902D;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 14px 25px 10px 25px;
}

button:hover,
button:focus {
  font-size: 1.8rem;
  background: #074115;
}

.contactHeader {
  background-image: url(../assets/contact-header-1.jpg);
}

h5 {
  padding-top: 200px;
  width: 30%;
  line-height: 78px;
}

.contactMain {
  height: 400px;
  position: relative;
}

.contact {
  padding-top: 120px;
}

.social {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social a {
  color: #0E902D;
  font-size: 2rem;
}

.social a:hover,
.social a:focus {
  font-size: 2.2rem;
  color: #074115;
}

.email {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.email em {
  font-weight: bold;
}

.contactForm {
  width: 60%;
  padding: 35px 35px 35px 35px;
  background: #FFF;
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  position: absolute;
  top: -200px;
  right: 50px;
}

.contactForm input, .contactForm textarea {
  background-color: #FFF;
}

@media (max-width: 1120px) {
  .wrapper {
    width: 85%;
  }
  h3 {
    font-size: 2.4rem;
  }
}

@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
  .founderFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founderFlex img {
    width: 30%;
  }
  .founderFlex article {
    padding-left: 0;
    padding-top: 60px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }
  .homeHeader {
    height: 57vh;
  }
  .homeHeading h1 {
    font-size: 11rem;
  }
  .homeHeading img {
    bottom: -50px;
  }
  .blogPosts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .blogPosts img {
    width: 60%;
  }
  .blogPosts article {
    padding: 0;
    width: 80%;
  }
  .blogPosts .postLeft {
    height: 515px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    padding-right: 100px;
  }
  .blogPosts .postRight {
    height: 515px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding-left: 100px;
  }
  .midFlex {
    display: block;
  }
  .midMenuElement {
    padding-bottom: 20px;
  }
  .galleryGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .galleryGrid img {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 85%;
  }
  .homeHeader {
    height: 50vh;
  }
  .topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topBar .logo {
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .topBar ul {
    margin: 0 auto;
  }
  .topBar ul a {
    display: none;
  }
  .topBar ul i {
    font-size: 2.2rem;
    display: block;
    color: #FFF;
  }
  .homeHeading {
    height: 70%;
  }
  .homeHeading h1 {
    font-size: 9rem;
  }
  .homeHeading img {
    width: 55%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 85%;
  }
  .homeHeading h1 {
    font-size: 7.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  .blogPosts {
    -ms-grid-rows: 545px;
        grid-template-rows: 545px;
  }
  .blogPosts img {
    width: 70%;
  }
  .blogPosts .postLeft {
    height: 465px;
    padding-right: 50px;
  }
  .blogPosts .postRight {
    height: 465px;
    padding-left: 50px;
  }
  .founderFlex img {
    width: 50%;
  }
  .galleryGrid img {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }
  .homeHeader {
    height: 45vh;
  }
  h2,
  h4 {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {
  .wrapper {
    width: 85%;
  }
  .homeHeader {
    height: 40vh;
  }
  .homeHeading h1 {
    font-size: 6rem;
  }
  .intro {
    padding: 140px 0;
  }
  .blogPosts {
    -ms-grid-rows: 545px;
        grid-template-rows: 545px;
  }
  .blogPosts img {
    width: 80%;
  }
  .blogPosts h3 {
    font-size: 2.2rem;
  }
  .blogPosts .postLeft {
    height: 495px;
    padding-right: 40px;
  }
  .blogPosts .postRight {
    padding-left: 40px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 85%;
  }
  .blogPost {
    padding: 260px 0 40px 40px;
  }
  .blogPost h6 {
    font-size: 3.2rem;
  }
}

@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
  .mainFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mainFlex .flexRight {
    width: 100%;
    padding-left: 30%;
  }
  .mainFlex .flexRight .postImg {
    width: 65%;
  }
  .mainFlex .flexRight .blogPost {
    width: 100%;
  }
  .heading7 {
    font-size: 1.8rem;
  }
  .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .userInfo input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }
  .blogHeader h5 {
    padding-top: 90px;
  }
  .mainFlex .flexRight {
    padding-left: 18%;
  }
  .mainFlex .flexRight .postImg {
    width: 75%;
  }
  .heading7 {
    font-size: 1.8rem;
  }
  .flexLeft {
    width: 45%;
    padding-top: 75px;
  }
  .flexLeft .textBox {
    height: 600px;
  }
  .flexLeft img {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 85%;
  }
  .topBarSecondary .flexBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topBarSecondary ul a {
    display: none;
  }
  .topBarSecondary ul i {
    font-size: 2.2rem;
    display: block;
    color: #FFF;
  }
  .mainFlex .flexRight {
    padding-left: 0;
  }
  .mainFlex .flexRight .postImg {
    width: 90%;
  }
  .flexLeft {
    width: 55%;
    padding-top: 75px;
  }
  .flexLeft .textBox {
    height: 620px;
  }
  .flexLeft img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 85%;
  }
  .blogPost {
    padding: 160px 0 40px 40px;
  }
  .blogPost h6 {
    font-size: 2.8rem;
  }
  .heading7 {
    font-size: 1.6rem;
  }
  .flexLeft {
    width: 70%;
  }
  .flexLeft .textBox {
    height: 600px;
  }
  .flexLeft img {
    width: 60%;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }
  .blogPost {
    padding-top: 100px;
  }
  .blogPost h6 {
    line-height: 1.2;
  }
}

@media (max-width: 360px) {
  .wrapper {
    width: 85%;
  }
  .blogHeader h5 {
    font-size: 6rem;
  }
  .flexLeft {
    width: 80%;
  }
  .flexLeft .textBox {
    height: 630px;
  }
  .flexLeft img {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 85%;
  }
  .contactHeader h5 {
    font-size: 6rem;
    line-height: 62px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
  .contactMain {
    height: 540px;
  }
  .contactMain .contact {
    padding-top: 340px;
  }
  .social {
    width: 17%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }
  .contactHeader h5 {
    padding-top: 100px;
    width: 100%;
  }
  .contactForm {
    width: 80%;
  }
  .social {
    width: 20%;
  }
}

@media (max-width: 650px) {
  .wrapper {
    width: 85%;
  }
  .social {
    width: 22%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 85%;
  }
  .social {
    width: 27%;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }
  .contactHeader h5 {
    font-size: 5rem;
  }
  .contactForm {
    width: 85%;
    right: 25px;
  }
  .social {
    width: 30%;
  }
}

@media (max-width: 360px) {
  .wrapper {
    width: 85%;
  }
}
